*.cer
*.crt
*.der
*.dll
*.DS_Store
*.ldf
*.mdf
*.nupkg
*.pem
*.pfx
*.publishsettings
*.user
*.vspscc
*.vssscc
.vs/
.vscode/
[Bb]in/
[Bb]uild/
[Dd]ebug/
[Oo]bj/
[Pp]ackages/
[Pp]ublish[Pp]rofiles/
[Rr]elease/
[Xx]64/
[Xx]86/
node_modules/
